.about {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.92);
    backdrop-filter: blur(3px);
    border: 5px ridge rgba(166, 126, 63, 0.76);
    border-radius: 15px;
    padding: 25px;
    color: #a67e3f;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}
.information {
    text-align: center;
    padding: 30px;
}