.imgBackground {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px ridge rgba(166, 126, 63, 0.76);
    padding: 10px;
}

.container {
    height: 84vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: space-between;
}

.addButton {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #a67e3f;
}
