.mainContainer {
    height: 84vh;
    width: 99vw;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    color: #a67e3f;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-content: space-between;
}

.topContainer {
    width: 96vw;
    height: fit-content;
    gap: 20px;
    margin-left: 5px;
}

.ownedBikes {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.startButton {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #a67e3f;
}

.bottomContainer {
    width: 96vw;
    height: fit-content;
    margin-left: 10px;
}

.rideHeading {
    padding: 20px;
    color: #a67e3f;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-content: space-between;
    border: 2px solid #a67e3f;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.81);
}

.errorHeading {
    padding: 20px;
    color: #850606;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-content: space-between;
    border: 2px solid #800505;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.81);
}